<div class="container">
    <h1>Create Appointment</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="appointmentDate">Appointment Date:</label>
        <input type="date" class="form-control" id="appointmentDate" name="appointmentDate"
          [(ngModel)]="appointment.appointmentTime" required>
      </div>
      
      <div class="form-group">
        <label for="appointmentTime">Appointment Time:</label>
        <select class="form-control" id="appointmentTime" name="appointmentTime" [(ngModel)]="appointmentDate">
          <option value="">Select a time</option>
          <option value="10:00:00">11:00 AM</option>
          <option value="11:00:00">12:00 AM</option>
          <!-- Add more time options as needed -->
        </select>
      </div>

      <div class="form-group">
        <label for="location">Location:</label>
        <select id="location" name="location" [(ngModel)]="appointment.location">
            <option *ngFor="let option of locationOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="specialization">Specialization:</label>
        <select id="specialization" name="specialization" [(ngModel)]="appointment.specialization">
            <option *ngFor="let option of specializationOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="doctorId">Doctor:</label>
        <select class="form-control" id="doctorId" name="doctorId" [(ngModel)]="appointment.doctorId" required>
          <option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.username }}</option>
        </select>
      </div>
      <div>
        <button type="submit" class="btn btn-primary btn-success" [disabled]="!appointment.doctorId && !appointment.location">Create</button>
        <button (click)="cancel()" class="btn btn-primary btn-error">Cancel</button>
      </div>
    </form>
</div>
